<h1>
  Logg in
</h1>
<%= form_with url: sessions_path do |f| %>
  <%= f.text_field :email, placeholder: 'Email', autofocus: true %>
  <%= f.password_field :password, placeholder: 'Password' %>
  <%= f.submit 'Log In' %>
<% end %>

<%= link_to 'Sign Up', new_registration_path %>
