<!DOCTYPE html>
<html>
  <head>
    <title>SimpleBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p style="color: green;">
      <%= notice %>
    </p>
    <p style="color: red;">
      <%= alert %>
    </p>
    <% if session[:user_id] %>
      Logged in as <strong><%= User.find(session[:user_id]).email %></strong>.
      <%= link_to "Logout", logout_path %>
    <% else %>
      <%= link_to "Login", new_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
